<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/oasystem">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/domain/Systeminfo.hbm.xml</value>
				<value>com/domain/Departmentinfo.hbm.xml</value>
				<value>com/domain/Bbscommentinfo.hbm.xml</value>
				<value>com/domain/Userinfo.hbm.xml</value>
				<value>com/domain/Mailinfo.hbm.xml</value>
				<value>com/domain/Bbsforuminfo.hbm.xml</value>
				<value>com/domain/Bbscolumninfo.hbm.xml</value>
				<value>com/domain/Nodeinfo.hbm.xml</value>
				<value>com/domain/Fileinfo.hbm.xml</value>
				<value>com/domain/Docinfo.hbm.xml</value>
				<value>com/domain/Noticeinfo.hbm.xml</value></list>
		</property></bean>
		
		
	<!-- DAO相关 -->
	<bean scope="prototype" id="baseDao" class="com.dao.BaseDaoHibImpl"
		autowire="byName">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- Service相关 -->
	<bean scope="prototype" id="userinfoService"
		class="com.services.UserinfoServiceImpl" autowire="byName">
	</bean>
	
	<!-- Action相关 -->
	<bean scope="prototype" autowire="byName" id="loginAction"
		class="com.controller.LoginAction">
	</bean>
	<bean scope="prototype" id="userAction" autowire="byName" 
		class="com.controller.UserAction">
	</bean>
</beans>